.friendCard{
 max-width: 96px;
    border: 1px solid rgba(41, 41, 41, 1);
     box-shadow: 1px 1px 3px 2px rgba(41, 41, 41, 1);
    
}

.avatar{
    padding-top: 8px;
}

.friendsName{
    font-size: 24px;
}

.statusOnline{
  color: green;
}
 
  .statusOffline{
    color: red;
  }
   